{% extends "/admin/AdminLayout.html"%}


{% block content %}
<div class="formElection">

    <form action="/admin/ElectionRegistration" method="post">
        <h2>Election registration form</h2>
        <div class="form-group fullname">
            <label for="ElectionName">Election name</label>
            <input type="text" id="ElectionName" name="ElectionName" placeholder="Enter the election name">
        </div>
        <div class="form-group email">
            <label for="desc">Description</label>
            <input type="text" name="desc" id="desc" placeholder="Enter your description">
          </div>
        <div class="form-group date">
            <label for="EndDate">End Date</label>
            <input type="date" id="EndDate" name="EndDate" placeholder="Select ending date">
        </div>
        <div class="form-group gender">
            <label for="IsActive">Is active</label>
            <select id="IsActive" name="IsActive">
                <option value="" selected disabled>Select your IsActive or not!</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="form-group submit-btn">
            <input type="submit" value="Submit">
        </div>
    </form>

</div>

<script>
    // Selecting form and input elements
    const form = document.querySelector("form");
    const passwordInput = document.getElementById("password");
    const passToggleBtn = document.getElementById("pass-toggle-btn");

    // Function to display error messages
    const showError = (field, errorText) => {
        field.classList.add("error");
        const errorElement = document.createElement("small");
        errorElement.classList.add("error-text");
        errorElement.innerText = errorText;
        field.closest(".form-group").appendChild(errorElement);
    }

    // Function to handle form submission
    const handleFormData = (e) => {
        e.preventDefault();

        // Retrieving input elements
        const ElectionNameInput = document.getElementById("ElectionName");
        const descInput = document.getElementById("desc");
        const EndDateInput = document.getElementById("EndDate");
        const IsActiveInput = document.getElementById("IsActive");

        // Getting trimmed values from input fields
        const ElectionName = ElectionNameInput.value.trim();
        const desc = descInput.value;
        // const password = passwordInput.value.trim();
        const EndDate = EndDateInput.value;
        const IsActive = IsActiveInput.value;


        // Clearing previous error messages
        document.querySelectorAll(".form-group .error").forEach(field => field.classList.remove("error"));
        document.querySelectorAll(".error-text").forEach(errorText => errorText.remove());

        // Performing validation checks
        if (ElectionName === "") {
            showError(ElectionNameInput, "Enter your full name");
        }
        if (desc === "") {
            showError(descInput, "Enter a description");
        }

        if (EndDate === "") {
            showError(EndDateInput, "Select ending date");
        }
        if (IsActive === "") {
            showError(IsActiveInput, "Select your IsActive or not! ");
        }

        // Checking for any remaining errors before form submission
        const errorInputs = document.querySelectorAll(".form-group .error");
        if (errorInputs.length > 0) return;

        // Submitting the form
        form.submit();
    }

    // Handling form submission event
    form.addEventListener("submit", handleFormData);
</script>

{% endblock%}