{% extends "HomeLayout.html" %}

{% block content %}
<div class="container">
    <div class="mt-5 rounded-4 overflow-hidden" style="background-color: #EDE9E9; border-radius: 30px;">
        <div class="row">
            <div class="col-md-6 mt-5 ms-4">
                <h1 style="font-size: 45px; color: #454C79;">Online voting system</h1>
                <p style="font-size: 15px;" class="me-5">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Repellendus, quod
                    iure! Ullam corrupti numquam ad, mollitia, porro eos, a distinctio doloribus maiores sed
                    veniam
                    labore sint? Tenetur itaque dolores dolor.</p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-center text-center mt-5 mb-4">
                            <button class="btn btn-outline-primary px-5">LOGIN</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 d-none d-md-block ">
                <div class=" ms-5 mt-5" style="transform: skew(4deg, 6deg);">
                    <img src="../static/image/Make.jpg" alt="Image with slant frame" class="img-fluid" width="600px"
                        height="600px">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


<!-- Hussein 123 -->